<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    <style>
   .row{
       padding-left: 100px;

   }
 
   .col-12{

   } 
   .col-md-6{}
  .centered-content{
    display: inline-block;
  }
   .wrapper{
    text-align: center;
  }

</style>

<body>

    
    

<div class="row wrapper centered-content">
<h1>All Products</h1>
{{#each products}}

 <div class="col-12 col-md-6">
        <div class="item shadow mb-4" data-id={{_id}} category={{category}} >
            {{!-- <h3 class="item-title">Titulo: {{name}}</h3> --}}
            <img class="item-image image" onclick="window.location='/products/{{_id}}'" style="width:411px; height:200px;" src="../img/{{imgUrl}}">
           
            {{!-- <div class="item-details">
                {{!-- <h4 class="item-price">Precio: {{price}}$</h4> --}}
                {{!-- <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button> --}}
            {{!</div> --}}
        </div>
        {{/each}}
</div>
</div>


</body>
</html>







                
          
    
